.my-message{
  padding: 3px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  .message-content{
    padding: 6px 8px 6px 10px;
    background-color: $myMesBg;
    border-radius: 12px 12px 0 12px;
    position: relative;
    .message{
      position: relative;
      z-index: 1;
      max-width: 600px;
      .text{
        word-break: break-all;
      }
      .time{
        color: #4fae4e;
      }
    }
    .svg{
      position: absolute;
      bottom: 0;
      overflow: hidden;
      z-index: 0;
      right: -7px;
      svg{
        @include svg;
        path{
          fill: $myMesBg;
        }
      }
    }
  }
  .message-content.message-content-partner{
    border-radius: 12px 12px 12px 0;
  }
}

.message{
  position: relative;
  display: flex;
  gap: 5px;
  padding-bottom: 10px;
  min-width: 38px;
  .time{
    position: absolute;
    font-weight: 400;
    font-size: 10px;
    opacity: 0.8;
    bottom: -3px;
    right: 0;
  }
}