.partner-message{
  padding: 3px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  .message-content{
    padding: 6px 8px 6px 10px;
    background-color: $parMesBg;
    border-radius: 12px 12px 12px 0px;
    position: relative;
    .message{
      position: relative;
      z-index: 1;
      max-width: 600px;
      .text{
        word-break: break-all;
      }
      .time{
        color: #000000;
      }
    }
    .svg{
      position: absolute;
      bottom: 0;
      left: -7px;
      overflow: hidden;
      z-index: 0;
      svg{
        @include svg;
        path{
        fill: $parMesBg;
        }
      }
    }
  }
}