.user_block{
  min-height: 72px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:hover{
    background-color: $gray2;
  }
  &.user_block_active{
    background-color: $primary1;
    .info{
      h3,
      div{
        color: white;
        opacity: 1;
      }
    }
  }
  &_bounce_div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .img{
    height: 54px;
    width: 54px;
    flex: 0 0 54px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 16px;
    img{
      @include imageCover
    }
  }
  .info{
    @include column;
    width: 100%;
    h3{
      color: $black1;
      @include text1;
      @include splice(1);
    }
    div{
      color: $grayText;
      opacity: 0.8;
      @include textTemplate(500, 16px, 140%);
      @include splice(1);
    }
  }
}
.animation_on_click{
  position: absolute;
  border-radius: 50%;
  animation: bigger 1.7s linear 0s normal;
}

@keyframes bigger {
  from {
    width: 5px;
    height: 5px;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.144);
  }

  to {
    transform: scale(1000);
    background-color: rgba(0, 0, 0, 0);
  }
}