.archive_popUp{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: white;
  &:after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: $gray1;
  }
  .header{
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    .icon{
      height: 40px;
      width: 40px;
      flex: 0 0 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .svg{
        height: 20px;
        width: 20px;
        overflow: hidden;
        object-position: center;
        z-index: 99;
        svg{
          @include svg;
          @include pathColor
        }
      }
      
      &.icon_left{
        .svg{
          height: 22px;
          width: 22px;
        }
      }
    }
    .header_title{
      width: 100%;
      padding: 0 0 0 24px;
      span{
        color: black;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  .body{
    .classes{
      .scroll{
        .archive-wraper{
          padding: 0 8px;
        }
      }
    }
  }
}