@import 'settings', 'contacts', 'archive', 'search';


.scroll{
  height: calc(100vh - 56px);
  overflow-y: scroll;
    &::-webkit-scrollbar {
      transform: translateX(-5px);
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent; 
      border: none;
      box-sizing: border-box;
    }
    &::-webkit-scrollbar-thumb {
      background: #e7e2e2df; 
      border-radius: 10px;
    }
}

