.dropdown{
  .burger{
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    .svg{
      height: 24px;
      width: 24px;
      overflow: hidden;
      svg{
        @include svg
      }
    }
  }
}