@import 'dropdownAside';

.dropdown_menu{
  padding: 4px 0;
  border-radius: 12px;
  li{
    display: flex;
    align-items: center;
    color: #000;
    margin: 0 4px;
    border-radius: 4px;
    &:hover{
      background-color: $gray2;
    }
    &.type_red{
      color: red;
      .svg{
        svg{
          @include svg;
          path,
          circle{
            fill: red;
          }
        }
      }
    }
    .svg{
      height: 18px;
      width: 18px;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
      margin-right: 15px;
      &#rotate{
        transform: rotate(-135deg)
      }
      svg{
        @include svg;
        path,
        circle{
          fill: #000;
        }
      }
    }
  }
}