<template>
  <div class="archive_popUp">
    <div class="header">
      <div class="icon icon_left">
        <div class="svg" @click="closePopUp">
          <svgicon name="arrow-left"></svgicon>
        </div>
      </div>
      <div class="header_title">
        <span>Archived Chats</span>
      </div>
    </div>
    <div class="body">
      <div class="classes">
        <div class="scroll">
          <div class="archive-wraper">
            <CardsUserBlock></CardsUserBlock>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    closePopUp() {
      this.$store.commit("changePopUp", {
        key: "archivePopUp",
        value: false,
      });
    },
  },
};
</script>

<style></style>
