<template>
  <div class="contacts_popUp">
    <div class="header">
      <div class="icon icon_left">
        <div class="svg" @click="closeContacts">
          <svgicon name="arrow-left"></svgicon>
        </div>
      </div>
      <div class="search">
        <a-input-search placeholder="Search" size="large" @search="onSearch">
        </a-input-search>
      </div>
    </div>
    <div class="body">
      <div class="classes">
        <div class="scroll">
          <div class="contacts-wraper">
            <CardsContactBlock
              v-for="(item, index) in contactsList"
              :key="index"
              :item="item"
            ></CardsContactBlock>
          </div>
        </div>
      </div>
      <div class="primary-button">
        <div class="button_action">
          <svgicon name="user-add"></svgicon>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  methods: {
    closeContacts() {
      this.$store.commit("changePopUp", {
        key: "contactsPopUp",
        value: false,
      });
    },
    onSearch() {
      console.log("search");
    },
  },
  computed: {
    ...mapGetters(["contactsList"]),
  },
};
</script>

<style></style>
