<template>
  <div class="search_popUp">
    <div class="header">
      <div class="icon icon_left">
        <div class="svg" @click="closeModal">
          <svgicon name="arrow-left"></svgicon>
        </div>
      </div>
      <div class="search">
        <a-input-search
          placeholder="Search"
          size="large"
          @search="onSearch"
        ></a-input-search>
      </div>
      <div class="icon">
        <div class="svg">
          <svgicon name="calendar-minus"></svgicon>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="classes">
        <div class="scroll">
          <div class="search-wraper"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    closeModal() {
      this.$store.commit("changePopUp", {
        key: "searchPopUp",
        value: false,
      });
    },
    onSearch() {
      console.log("search");
    },
  },
};
</script>

<style></style>
