<template>
  <div class="settings_popUp">
    <div class="header">
      <div class="icon icon_left">
        <div class="svg" @click="closeSettings">
          <svgicon name="arrow-left"></svgicon>
        </div>
      </div>
      <div class="header_title">
        <span>Settings</span>
      </div>
      <div class="icon">
        <div class="svg">
          <svgicon name="pencil"></svgicon>
        </div>
      </div>
      <div class="icon">
        <div class="svg">
          <svgicon name="3dots"></svgicon>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="setting-scroll-div">
        <div class="settings_wraper">
          <div class="about">
            <div class="avatar">
              <div class="img">
                <img :src="mySelf?.avatarImg || ''" alt="" />
              </div>
              <div class="content">
                <span class="user_name">{{ mySelf?.nickName || "" }}</span>
                <span class="last_seen">online</span>
              </div>
            </div>
            <div class="about_buttons">
              <div class="about_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="phone"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title">{{ mySelf?.phoneNumber || "None" }}</span>
                  <span class="sub_title">Phone</span>
                </div>
              </div>
              <div class="about_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="at"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title">{{ mySelf?.uniqueName || "None" }}</span>
                  <span class="sub_title">Username</span>
                </div>
              </div>
              <div class="about_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="info"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title">{{ mySelf?.bio || "None" }}</span>
                  <span class="sub_title">Bio</span>
                </div>
              </div>
            </div>
          </div>
          <div class="settings_section">
            <div class="settings_buttons">
              <div class="settings_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="bell"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title"> Notifications and Sounds </span>
                  <span class="sub_title"></span>
                </div>
              </div>
              <div class="settings_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="database"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title">Data and Storage</span>
                  <span class="sub_title"></span>
                </div>
              </div>
              <div class="settings_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="lock"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title">Privacy and Security</span>
                  <span class="sub_title"></span>
                </div>
              </div>
              <div class="settings_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="settings"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title">General Settings</span>
                  <span class="sub_title"></span>
                </div>
              </div>
              <div class="settings_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="folder"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title">Chat Folders</span>
                  <span class="sub_title"></span>
                </div>
              </div>
              <div class="settings_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="smile"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title">Stickers and Emoji</span>
                  <span class="sub_title"></span>
                </div>
              </div>
              <div class="settings_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="devices"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title">Devices</span>
                  <span class="sub_title"></span>
                </div>
              </div>
              <div class="settings_info_block">
                <div class="icon">
                  <div class="svg">
                    <svgicon name="language"></svgicon>
                  </div>
                </div>
                <div class="content">
                  <span class="title">Language</span>
                  <span class="sub_title"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  methods: {
    closeSettings() {
      this.$store.commit("changePopUp", {
        key: "settingsPopUp",
        value: false,
      });
    },
  },
  computed: {
    ...mapGetters(["mySelf"]),
  },
};
</script>

<style></style>
