.aside{
  width: 100%;
  height: 100vh;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: $gray1;
  }
  .header{
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    
    .search{
      width: 100%;
      height: 42px;
      .ant-input-search{
        height: 100%;
        color: $gray1;
        input{
          width: 100%;
          border: 1px solid #dfe1e5;
          border-radius: 20px;
          height: 100%;
          padding: 0 44px;
          &::placeholder{
            color: $gray1;
          }
        }
      }
    }
  }
  .no_data{
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .info{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;
      .svg{
        height: 55px;
        width: 55px;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        margin-bottom: 12px;
        svg{
          @include svg;
          path,
          circle{
            fill: $primary1;
          }
        }
      }
      h2{
        margin-bottom: 12px;
        cursor: default;
      }
      span{
        font-size: 16px;
        color: $primary1;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .aside_body{
    .folders{
      position: relative;
      :after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.5px;
        background: $grayAfter;
      }
      .buttons{
        height: 50px;
        padding: 0 12px;
        button{
          border: none;
          height: 100%;
          background: transparent;
          padding: 0 16px;
          border-radius: 10px 10px 0 0;
          &:hover{
            background-color: $gray2;
          }
          span{
            color: $grayText;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            align-items: center;
            height: 100%;
            position: relative;
          }
        &.button-active{
          span{
            color: $primary1;
            &:after{
              content: '';
              position: absolute;
              bottom: 0;
              left: -10%;
              width: 120%;
              height: 3.5px;
              background-color: $primary1;
              border-radius: 3px 3px 0 0;
            }
          }
        }
        }
      }
    }
    .aside_wraper{
      display: flex;
      flex-direction: column;
      padding: 8px 8px 0 8px;
      height: calc(100vh - 56px - 50px);
      overflow-y: scroll;
      &::-webkit-scrollbar {
        transform: translateX(-5px);
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: transparent; 
        border: none;
        box-sizing: border-box;
      }
      &::-webkit-scrollbar-thumb {
        background: #e7e2e2df; 
        border-radius: 10px;
      }
    }
  }
}



