aside {
  max-width: 380px;
  position: relative;
  .aside_right{
  width: 100%;
  height: 100vh;
  position: relative;
  .header{
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    .icon{
      height: 40px;
      width: 40px;
      flex: 0 0 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .svg{
        height: 20px;
        width: 20px;
        overflow: hidden;
        object-position: center;
        z-index: 99;
        svg{
          @include svg;
          @include pathColor
        }
      }
      
      &.icon_close{
        .svg{
          height: 18px;
          width: 18px;
        }
      }
    }
    .header_title{
      width: 100%;
      padding: 0 0 0 24px;
      span{
        color: black;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  .body{
    overflow-y: scroll;
    background-color: #f4f4f5;
    height: calc(100vh - 56px);
    &::-webkit-scrollbar {
      transform: translateX(-5px);
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent; 
      border: none;
      box-sizing: border-box;
    }
    &::-webkit-scrollbar-thumb {
      background: #e7e2e2df; 
      border-radius: 10px;
    }
    &:after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background-color: $gray1;
    }
    .about{
      background-color: white; 
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      .avatar{
        width: 100%;
        position: relative;
        .img{
          height: 380px;
          width: 100%;
          img{
            @include imageCover
          }
        }
        .content{
          position: absolute;
          left: 24px;
          bottom: 12px;
          display: flex;
          flex-direction: column;
          .user_name{
            color: white;
            font-size: 20px;
            font-weight: 500;
            @include splice(1);
          }
          .last_seen{
            @include splice(1);
            @include textTemplate(inherit, 14px, 140%);
            color: rgb(226, 222, 217);
          }
        }
      }
      .about_buttons{
        padding: 8px;
        display: flex;
        flex-direction: column;
        .about_info_block{
          width: 100%;
          flex: 0 0 100%;
          display: flex;
          max-height: 56px;
          min-height: 56px;
          align-items: center;
          position: relative;
          &:hover{
            border-radius: 8px;
            background-color: $gray2;
            cursor: pointer;
          }
          .icon{
            height: 40px;
            width: 40px;
            flex: 0 0 40px;
            margin-left: 6px;
            margin-right: 30px;
            @include flex-center;
            .svg{
              height: 20px;
              width: 20px;
              overflow: hidden;
              object-position: center;
              svg{
                @include svg;
                @include pathColor;
              }
            }
          }
          .content{
            display: flex;
            flex-direction: column;
            .title{
              font-size: 16px;
              color: black;
            }
            .sub_title{
              font-size: 14px;
              color: #707579;
            }
          }
          .not_switch{
            margin-left: auto;
            margin-right: 16px;
          }
        }
      }
    }
    .data_storage{
      background: #fff;
      .ant-tabs-ink-bar{
        height: 3px;
        border-radius: 2px 2px 0 0;
      }
      .ant-tabs-nav.ant-tabs-nav-animated{
        width: 100%;
        >div{
          display: flex;
          justify-content: space-around;
          .ant-tabs-tab{
            margin-right: 0;
            span{
              font-weight: 500;
            }
          }
          .ant-tabs-tab-active{
            position: relative;
            &:after{
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              height: 4px;
              background-color: #1890ff ;
              border-radius: 2px 2px 0 0;
              width: 100%;
              animation: border 1.5s;
            }
          }
        }
      }
      .ant-tabs-ink-bar.ant-tabs-ink-bar-animated{
        display: none !important;
      }
    }
  }
}

@keyframes border{
  0%{transform: translateY(-50px);}
  80%{transform: translateY(0px);}
  90%{transform: translateY(-15px);}
  100%{}
}
}