.chat{
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header{
    min-height: 56px;
    width: 100%;
    display: flex;
    padding: 0 16px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $gray1;
    }
    .chat_profile{
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 3px;
      .img{
        height: 42px;
        width: 42px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 18px;
        img{
          @include imageCover;
        }
      }
      .info{
        @include column;
        >h3{
          @include text1;
        }
        >div{
          @include textTemplate(inherit, 14px, 140%);
          color: $grayText;
          opacity: 0.8;
        }
      }
    }
    .icons{
      display: flex;
      align-items: center;
      margin-left: auto;
      .icon{
        height: 40px;
        width: 40px;
        overflow: hidden;
        @include flex-center;
        .svg{
          height: 20px;
          width: 20px;
          svg{
            @include svg;
            path,
            circle{
              fill: #707991;
            }
          }
        }
      }
    }
  }
  .chat_field_main{
    height: calc(100vh - 56px);
  }
}