.chat_field{
  height: 100%;
  width: 100%;
  position: relative;
  background: url(@/assets/media/image/chat-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .chat_block{
    height: calc(100vh - 56px - 58px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: transparent; 
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(4, 3, 3, 0.6); 
      border-radius: 10px;
    }
    .chat_field_container{
      max-width: 730px;
      flex: 0 0 730px;
      margin: 0 auto;
      position: relative;
      .field{
        min-height: calc(100vh - 56px - 58px);
        width: 100%;
        padding: 0 67px 0 13px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &.field_small{
          padding: 0 13px 0 13px;
        }
        .messages-field{
          display: flex;
          flex-direction: column;
        }
      }
    } 
  }
  .keyboard_block{
    .chat_field_container{
      max-width: 730px;
      margin: 0 auto;
      position: relative;
      padding-bottom: 58px;
      .keyboard{
        width: 100%;
        height: 58px;
        padding: 4px 13px 8px 13px;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        .text-area{
          display: flex;
          align-items: center;
          width: 100%;
          border-radius: 12px;
          background-color: white;
          height: 100%;
          padding: 1px 4px;
          .smile,
          .files{
            height: 32px;
            width: 34px;
            flex: 0 0 34px;
            @include flex-center;
            .svg{
              height: 24px;
              width: 24px;
              fill: $gray2;
              svg{
                @include svg;
                path,
                circle{
                  fill: #707991;
                }
              }
            }
          }
          .files{
            .svg{
              svg{
                transform: rotate(40deg);
              }
            }
          }
          input{
            border: none;
            width: 100%;
            &:focus-visible{
              border: none;
            }
          }
        }
        .audio{
          height: 46px;
          max-width: 46px;
          flex: 0 0 46px;
          margin-left: 8px;
          button{
            border: none;
            background-color: #3390ec;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            @include flex-center;
            .svg{
              height: 24px;
              width: 24px;
              overflow: hidden;
              svg{
                @include svg;
                path,
                circle{
                  fill: white;
                }
              }
            }
          }
        }
      }
    }
  }
}