.login_page{
  width: 100vw;
  height: 100vh;
  display: flex;
  .welcome-container{
    background-image: url(@/assets/media/image/welcome.jpg);
    background-size: cover;
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
    .text{
      position: absolute;
      top: 55%;
      left: 30%;
      h1{
        color: $primary1;
        font-size: 46px;
      }
    }
  }
  .login-container{
    max-width: 50%;
    flex: 0 0 50%;
    @include flex-center;
    
    .login_modal{
      width: 450px;
      h1{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 150%;
        color: $primary1;
        margin-bottom: 16px;
      }
      .ant-row.ant-form-item{
        margin-bottom: 0;
      }
      .ant-input-affix-wrapper .ant-input-prefix{
        left: 17px;
      }
      .ant-input-affix-wrapper .ant-input{
        height: 40px;
        border-radius: 0;
        position: relative;
        padding-left: 35px;
        background: linear-gradient(to right, $primary1 5px, #fff 5px);
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 5px;
          z-index: 99;
          background-color: $primary1;
        }
      }
      .ant-input.label_shown{
        position: relative;
        z-index: -1;
        &::placeholder{
          position: absolute;
          z-index: 99;
          display: block;
          background-color: #fff;
          top: -10px;
          left: 20px;
        }
      }
      .ant-btn-primary{
        width: 100%;
        height: 40px;
        border-radius: 20px;
        span{
          font-size: 18px;
          font-weight: 500;
        }
      }
      .has-error .ant-form-explain{
        position: absolute;
      }
      .question{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 12px;
        span{
          cursor: pointer;
          color: $primary1;
        }
      }
    }
  }
}
