@import 'aside', 'chat', 'chatField', 'asideRight', 'login';

.home-page{
  display: flex;
  max-height: 100vh;
  #content-left{
    max-width: 420px;
    flex: 0 0 420px;
  }
  #content-center{
    width: 100%;
  }
  #content-right{
    overflow: hidden;
    max-width: 0px;
    flex: 0 0 0px;
    transition: all 0.3s linear;
    opacity: 0;
    &.visible{
      opacity: 1;
      flex: 0 0 380px;
      max-width: 380px;
    }
  }
  .no_room{
    width: 100%;
    height: 100vh;
    background-image: url(@/assets/media/image/chat-bg.jpg);
    background-size: cover;
  }
}

