@import "helper", "custom", "layout", 'home', 'cards', 'modal', 'popUp';

@font-face {
  font-family: 'Aeroport';
  src: url('@/assets/fonts/Aeroport/stylesheet.css') format('truetype'),
}

@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter/stylesheet.css') format('truetype'),
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  // font-family: 'Aeroport', sans-serif;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

ul {
  @include free-ul;
}

@media(max-width: 991px) {
  [data-aos] {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transform: unset !important;
    -ms-transform: unset !important;
    transform: unset !important;
    -webkit-transition: unset !important;
    -o-transition: unset !important;
    transition: unset !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}

.icon {
  cursor: pointer;
  position: relative;

  &:hover ::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $gray2;
    z-index: -1;
  }
}

.primary-button {
  position: absolute;
  bottom: 16px;
  right: 16px;

  .button_action {
    background-color: $primary1;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;

    .svg {
      height: 25px;
      width: 25px;

      svg {
        height: 100%;
        width: 100%;
        transform: translateX(3px);

        path,
        circle {
          fill: white;
        }
      }
    }
  }
}

.ant-input:focus {
  box-shadow: none;
}