<template>
  <div class="aside">
    <div class="header">
      <!-- <pre style="position: absolute; top: 25px; z-index: 99">{{
        hubList
      }}</pre> -->
      <ModalDropdownAside></ModalDropdownAside>
      <div class="search">
        <a-input-search
          v-model="searchText"
          placeholder="Search"
          size="large"
          @search="onSearch"
        >
        </a-input-search>
      </div>
    </div>
    <div class="no_data" v-if="!myChats?.length">
      <div class="info">
        <svgicon name="add-folder"></svgicon>
        <h2>You have no corvesations yet</h2>
        <span href="" @click="openContacts">New Message</span>
      </div>
    </div>
    <div class="aside_body" v-else>
      <!-- <div class="folders">
        <div class="buttons">
          <button
            :class="{ 'button-active': chatClasses }"
            v-for="(item, index) in chatClasses"
            :key="index"
          >
            <span>{{ item }}</span>
          </button>
        </div>
      </div> -->
      <div class="aside_wraper">
        <CardsUserBlock
          v-for="(item, index) in myChats"
          :key="index"
          :item="item?.partner()"
        >
        </CardsUserBlock>
      </div>
    </div>
    <PopUpSettings v-if="settingsPopUp"></PopUpSettings>
    <PopUpContacts v-if="contactsPopUp"></PopUpContacts>
    <PopUpArchive v-if="archivePopUp"> </PopUpArchive>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      searchText: "",
      chatClasses: ["chats", "groups"],
    };
  },
  methods: {
    openContacts() {
      this.$store.commit("changePopUp", {
        key: "contactsPopUp",
        value: true,
      });
    },
    async onSearch() {
      console.log("search");
      await this.FetchData();
    },
    async FetchData() {
      try {
        let res = await this.$http({
          url: `/search`,
          params: this.searchText,
        });
        // console.log(res);
        this.data = res;
        this.spinning = false;
      } catch (error) {
        console.error(error);
        this.spinning = false;
      }
    },
  },
  computed: {
    ...mapGetters([
      "userList",
      "hubList",
      "settingsPopUp",
      "contactsPopUp",
      "archivePopUp",
      "myChats",
    ]),
    // chats() {
    //   return this.hubList.chats;
    // },
    // groups() {
    //   return this.hubList.groups;
    // },
  },
  mounted() {},
};
</script>

<style></style>
