<template>
  <aside>
    <div class="aside_right">
      <div class="header">
        <div class="icon icon_close" @click="closeAsideRight">
          <div class="svg">
            <svgicon name="close"></svgicon>
          </div>
        </div>
        <div class="header_title">
          <span>Profile</span>
        </div>
        <div class="icon">
          <div class="svg">
            <svgicon name="pencil"></svgicon>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="about">
          <div class="avatar">
            <div class="img">
              <img :src="user?.avatarImg || ''" alt="" />
            </div>
            <div class="content">
              <span class="user_name">{{ user?.nickName || "" }}</span>
              <span class="last_seen">last seen recently</span>
            </div>
          </div>
          <div class="about_buttons">
            <div class="about_info_block">
              <div class="icon">
                <div class="svg">
                  <svgicon name="phone"></svgicon>
                </div>
              </div>
              <div class="content">
                <span class="title">{{ user?.phoneNumber || "" }}</span>
                <span class="sub_title">Phone</span>
              </div>
            </div>
            <div class="about_info_block">
              <div class="icon">
                <div class="svg">
                  <svgicon name="at"></svgicon>
                </div>
              </div>
              <div class="content">
                <span class="title">{{ user?.uniqueName || "" }}</span>
                <span class="sub_title">Username</span>
              </div>
            </div>
            <div class="about_info_block">
              <div class="icon">
                <div class="svg">
                  <svgicon name="info"></svgicon>
                </div>
              </div>
              <div class="content">
                <span class="title">{{ user?.bio || "None" }}</span>
                <span class="sub_title">Bio</span>
              </div>
            </div>
            <div class="about_info_block">
              <div class="icon">
                <div class="svg">
                  <svgicon name="bell"></svgicon>
                </div>
              </div>
              <div class="content">
                <span class="title">Notifications</span>
                <span class="sub_title" v-if="false">Username</span>
              </div>
              <div class="not_switch">
                <a-switch default-checked @change="onChange" />
              </div>
            </div>
          </div>
        </div>
        <div class="data_storage">
          <a-tabs default-active-key="1" @change="callback">
            <a-tab-pane key="1">
              <template slot="tab"
                ><span>{{ "Media" }}</span></template
              >
              Content of Tab Pane 1
            </a-tab-pane>
            <a-tab-pane key="2" force-render>
              <template slot="tab"
                ><span>{{ "Links" }}</span></template
              >
              Content of Tab Pane 2
            </a-tab-pane>
          </a-tabs>
        </div>
      </div>
    </div>
    <PopUpSearch v-if="searchPopUp"></PopUpSearch>
  </aside>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    user: {
      type: Object,
      default() {
        return {
          nickName: "default",
        };
      },
    },
  },
  methods: {
    callback(key) {
      console.log(key);
    },
    onChange(checked) {
      console.log(`a-switch to ${checked}`);
    },
    closeAsideRight() {
      this.$store.commit("changeAsideRight", false);
    },
  },
  computed: {
    ...mapGetters(["searchPopUp"]),
  },
};
</script>

<style></style>
