<template>
  <div class="chat">
    <header class="header">
      <div class="chat_profile" @click="openAsideRight">
        <div class="img">
          <img :src="user.avatarImg || ''" alt="" />
        </div>
        <div class="info">
          <h3>{{ user.nickName || "" }}</h3>
          <div>{{ "we are working on it" }}</div>
        </div>
      </div>
      <div class="icons">
        <div class="icon">
          <div class="svg">
            <svgicon name="phone"></svgicon>
          </div>
        </div>
        <div class="icon" @click="openSearch">
          <div class="svg">
            <svgicon name="search"></svgicon>
          </div>
        </div>
        <ModalDropdownProfileCenter></ModalDropdownProfileCenter>
      </div>
    </header>
    <main class="chat_field_main">
      <HomeChatField></HomeChatField>
    </main>
  </div>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      default() {
        return {
          nickName: "default",
        };
      },
    },
  },
  methods: {
    openAsideRight() {
      this.$store.commit("changeAsideRight", true);
    },
    openSearch() {
      this.$store.commit("changeAsideRight", true);
      this.$store.commit("changePopUp", {
        key: "searchPopUp",
        value: true,
      });
    },
  },
};
</script>

<style></style>
