<template>
  <div class="chat_field">
    <div class="chat_block" id="scrollBar">
      <div class="chat_field_container">
        <div class="field" :class="{ field_small: asideRight }">
          <div class="messages-field">
            <CardsMessage
              v-for="(item, index) in currentOpenedChat($route?.query?.user)
                ?.messages"
              :key="index"
              :item="item"
            ></CardsMessage>
          </div>
        </div>
      </div>
    </div>
    <div class="keyboard_block">
      <div class="chat_field_container">
        <div class="keyboard">
          <div class="text-area">
            <div class="smile icon">
              <div class="svg">
                <svgicon name="smile"></svgicon>
              </div>
            </div>
            <a-input
              placeholder="Message"
              v-model="messageText"
              @keyup.enter="send"
            />
            <div class="files icon">
              <div class="svg">
                <svgicon name="paperclip"></svgicon>
              </div>
            </div>
          </div>
          <div class="audio">
            <button>
              <div class="svg">
                <svgicon name="microphone"></svgicon>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { message } from "ant-design-vue";
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      scroll: {},
      messageText: "",
      messages: [
        {
          text: "Hello",
          type: 0,
          user: "",
          postDate: "14:00",
        },
        {
          text: "Hi",
          type: 1,
          user: "",
          postDate: "14:00",
        },
        {
          text: "How are you",
          type: 0,
          user: "",
          postDate: "",
        },
        {
          text: "Good, what about you",
          type: 1,
          user: "",
          postDate: "",
        },
        {
          text: "I'm great",
          type: 0,
          user: "",
          postDate: "",
        },
      ],
    };
  },
  methods: {
    ...mapActions("ws", ["openServer"]),
    async connect() {
      try {
        let messagesList = new Promise(async (resolve, reject) => {
          try {
            await this.openServer();
            resolve({
              status: true,
            });
          } catch (e) {
            reject({
              error: e,
            });
          }
        });
      } catch (error) {
        console.error(error);
      }
    },
    send() {
      const obj = {
        text: "",
        postDate: "",
      };
      if (this.messageText.length >= 1) {
        obj.text = this.messageText;
        const date = new Date();
        const hours = date.getHours();
        const minutes = ("0" + date.getMinutes()).slice(-2);
        const time = `${hours}:${minutes}`;
        obj.postDate = time;
        this.$store.dispatch("sendMessage", {
          message: obj,
          partnerToken: this.$route?.query?.user,
        });

        this.messageText = "";
      }
      setTimeout(() => {
        this.scrollToBottom();
      }, 100);
    },
    scrollToBottom() {
      var objDiv = document.getElementById("scrollBar");
      objDiv.scrollTop = objDiv.scrollHeight;
    },
  },
  computed: {
    ...mapGetters("ws", ["messagesList", "ws"]),
    ...mapGetters(["asideRight", "currentOpenedChat"]),
  },
  async mounted() {
    await this.connect();
    this.scrollToBottom();

    // this.ws = new WebSocket("ws://localhost:8080");

    // this.ws.onmessage = (event) => {
    //   this.$store.dispatch("ws/receiveMessage", event.data);
    // };
  },
};
</script>

<style></style>
