<template>
  <div class="login_page">
    <div class="welcome-container"></div>
    <div class="login-container">
      <div class="login_modal">
        <h1>{{ title }}</h1>
        <!-- <a-form-model
          ref="form"
          :rules="rules"
          :model="form"
          @submit.native.prevent
          v-if="signIpPage"
        >
          <a-row :gutter="[20, 20]" type="flex">
            <a-col class="gutter-row" :span="24">
              <a-form-model-item
                prop="userNameS"
                @blur="
                  () => {
                    $refs.userNameS.onFieldBlur();
                  }
                "
              >
                <a-input
                  id="userNameIn"
                  v-model="form.userNameS"
                  placeholder="User name"
                  @click="showLabel"
                  @blur="closelabel"
                >
                  >
                  <a-icon
                    slot="prefix"
                    type="info-circle"
                    theme="twoTone"
                    style="color: rgba(0, 0, 0, 0.25)"
                  />
                </a-input>
              </a-form-model-item>
            </a-col>
          </a-row>
        </a-form-model> -->
        <a-row :gutter="[20, 20]">
          <a-col span="24">
            <a-form-model
              ref="form"
              :rules="rules"
              :model="form"
              @submit.native.prevent
              v-if="signIpPage"
            >
              <a-row :gutter="[20, 20]" type="flex">
                <a-col class="gutter-row" :span="24">
                  <a-form-model-item
                    prop="userNameS"
                    @blur="
                      () => {
                        $refs.userNameS.onFieldBlur();
                      }
                    "
                  >
                    <a-input
                      id="userNameIn"
                      v-model="form.userNameS"
                      placeholder="User name"
                    >
                      <a-icon
                        slot="prefix"
                        type="info-circle"
                        theme="twoTone"
                        style="color: rgba(0, 0, 0, 0.25)"
                      />
                    </a-input>
                  </a-form-model-item>
                </a-col>
                <a-col class="gutter-row" :span="24">
                  <a-form-model-item
                    prop="passwordS"
                    @blur="
                      () => {
                        $refs.paswwordS.onFieldBlur();
                      }
                    "
                  >
                    <a-input
                      v-model="form.passwordS"
                      type="password"
                      placeholder="Password"
                    >
                      <a-icon
                        slot="prefix"
                        type="lock"
                        theme="twoTone"
                        style="color: rgba(0, 0, 0, 0.25)"
                      />
                    </a-input>
                  </a-form-model-item>
                </a-col>
                <a-col class="gutter-row" :span="12">
                  <a-form-model-item>
                    <a-button
                      type="primary"
                      html-type="submit"
                      :disabled="form.userNameS === '' || form.passwordS === ''"
                      @click="signIn"
                    >
                      Sign In
                    </a-button>
                  </a-form-model-item>
                </a-col>
                <a-col class="gutter-row" :span="12">
                  <div class="question">
                    <span
                      href=""
                      @click="openSignUpPage"
                      v-html="question"
                    ></span>
                  </div>
                </a-col>
              </a-row>
            </a-form-model>
            <a-form-model
              ref="formSignUp"
              :rules="rulesSignUp"
              :model="formSignUp"
              @submit.native.prevent
              v-else
            >
              <a-row :gutter="[20, 20]" type="flex">
                <a-col class="gutter-row" :span="12">
                  <a-form-model-item
                    prop="firstName"
                    @blur="
                      () => {
                        $refs.firstName.onFieldBlur();
                      }
                    "
                  >
                    <a-input
                      v-model="formSignUp.firstName"
                      placeholder="First name"
                    >
                      <a-icon
                        slot="prefix"
                        type="info-circle"
                        theme="twoTone"
                        style="color: rgba(0, 0, 0, 0.25)"
                      />
                    </a-input>
                  </a-form-model-item>
                </a-col>
                <a-col class="gutter-row" :span="12">
                  <a-form-model-item
                    prop="lastName"
                    @blur="
                      () => {
                        $refs.lastName.onFieldBlur();
                      }
                    "
                  >
                    <a-input
                      v-model="formSignUp.lastName"
                      placeholder="Last name"
                    >
                      <a-icon
                        slot="prefix"
                        type="info-circle"
                        theme="twoTone"
                        style="color: rgba(0, 0, 0, 0.25)"
                      />
                    </a-input>
                  </a-form-model-item>
                </a-col>
                <a-col class="gutter-row" :span="12">
                  <a-form-model-item
                    prop="userName"
                    @blur="
                      () => {
                        $refs.userName.onFieldBlur();
                      }
                    "
                  >
                    <a-input
                      v-model="formSignUp.userName"
                      placeholder="User name"
                    >
                      <a-icon
                        slot="prefix"
                        type="info-circle"
                        theme="twoTone"
                        style="color: rgba(0, 0, 0, 0.25)"
                      />
                    </a-input>
                  </a-form-model-item>
                </a-col>
                <a-col class="gutter-row" :span="12">
                  <a-form-model-item
                    prop="phoneNumber"
                    @blur="
                      () => {
                        $refs.phoneNumber.onFieldBlur();
                      }
                    "
                  >
                    <a-input
                      v-model.number="formSignUp.phoneNumber"
                      placeholder="Phone number"
                    >
                      <a-icon
                        slot="prefix"
                        type="phone"
                        theme="twoTone"
                        style="color: rgba(0, 0, 0, 0.25)"
                      />
                    </a-input>
                  </a-form-model-item>
                </a-col>
                <a-col class="gutter-row" :span="12">
                  <a-form-model-item
                    prop="password"
                    @blur="
                      () => {
                        $refs.password.onFieldBlur();
                      }
                    "
                  >
                    <a-input
                      v-model="formSignUp.password"
                      type="password"
                      placeholder="Password"
                    >
                      <a-icon
                        slot="prefix"
                        type="lock"
                        theme="twoTone"
                        style="color: rgba(0, 0, 0, 0.25)"
                      />
                    </a-input>
                  </a-form-model-item>
                </a-col>
                <a-col class="gutter-row" :span="12">
                  <a-form-model-item
                    prop="passwordCheck"
                    @blur="
                      () => {
                        $refs.passwordCheck.onFieldBlur();
                      }
                    "
                  >
                    <a-input
                      v-model="formSignUp.passwordCheck"
                      type="password"
                      placeholder="Check your password"
                    >
                      <a-icon
                        slot="prefix"
                        type="check-circle"
                        theme="twoTone"
                        style="color: rgba(0, 0, 0, 0.25)"
                      />
                    </a-input>
                  </a-form-model-item>
                </a-col>
                <a-col class="gutter-row" :span="12">
                  <a-form-model-item>
                    <a-button
                      type="primary"
                      html-type="submit"
                      :disabled="
                        formSignUp.firstName === '' ||
                        formSignUp.lastName === '' ||
                        formSignUp.userName === '' ||
                        formSignUp.phoneNumber === null ||
                        formSignUp.password === '' ||
                        formSignUp.userName === ''
                      "
                      @click="signUp"
                    >
                      Sign Up
                    </a-button>
                  </a-form-model-item>
                </a-col>
                <a-col class="gutter-row" :span="12">
                  <div class="question">
                    <span
                      href=""
                      @click="openSignInPage"
                      v-html="question"
                    ></span>
                  </div>
                </a-col>
              </a-row>
            </a-form-model>
          </a-col>
          <a-col span="24">
            <div class="question" style="justify-content: center">
              <span>
                <strong>Sign in with an account</strong>
              </span>
            </div>
            <a-select
              size="large"
              style="width: 100%"
              placeholder="Select user"
              @select="
                (_, opts) => {
                  signInWithAcc(opts?.data?.props?.form);
                }
              "
              :options="
                userList?.map((e) => ({
                  value: e.uniqueName,
                  label: e.nickName,
                  form: e,
                }))
              "
            >
            </a-select>
          </a-col>
        </a-row>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    let checkPending;
    let checkAge = (rule, value, callback) => {
      clearTimeout(checkPending);
      if (!value) {
        return callback(new Error("Please input the password again"));
      }
      checkPending = setTimeout(() => {
        if (value !== this.formSignUp.password) {
          callback(new Error("Paswwords should be same"));
        } else {
          callback();
        }
      }, 1000);
    };
    return {
      signIpPage: true,
      title: "Sign In Account",
      question: "Don't have an account? <br><strong>SIGN UP</strong>",
      form: {
        userNameS: "",
        passwordS: "",
      },
      formSignUp: {
        firstName: "",
        lastName: "",
        userName: "",
        phoneNumber: null,
        password: "",
        passwordCheck: "",
      },
      // formSignUp: {
      //   firstName: "111",
      //   lastName: "111",
      //   userName: "111",
      //   phoneNumber: "111",
      //   password: "111111",
      //   passwordCheck: "111111",
      // },

      rules: {
        userNameS: [
          {
            required: true,
            message: "Please input user name",
            trigger: "blur",
          },
        ],
        passwordS: [
          { required: true, message: "Please input password", trigger: "blur" },
          {
            min: 4,
            max: 12,
            message: "Length should be 6 to 12",
            trigger: "blur",
          },
        ],
      },
      rulesSignUp: {
        firstName: [
          {
            required: true,
            message: "Please input first name",
            trigger: "blur",
          },
        ],
        lastName: [
          {
            required: true,
            message: "Please input last name",
            trigger: "blur",
          },
        ],
        userName: [
          {
            required: true,
            message: "Please input user name",
            trigger: "blur",
          },
        ],
        phoneNumber: [
          {
            required: true,
            message: "Please input phone number",
            trigger: "blur",
          },
        ],
        password: [
          { required: true, message: "Please input password", trigger: "blur" },
          {
            min: 6,
            max: 12,
            message: "Length should be 6 to 12",
            trigger: "blur",
          },
        ],
        passwordCheck: [
          // {
          //   required: true,
          //   message: "Please input password again",
          //   trigger: "blur",
          // },
          { validator: checkAge, trigger: "blur" },
        ],
      },
    };
  },
  computed: {
    ...mapGetters(["userList"]),
  },
  methods: {
    openSignUpPage() {
      this.title = "Create an account";
      this.question = "Already a member? <strong>SIGN IN</strong>";
      this.signIpPage = false;
    },
    async signUp() {
      this.$refs.formSignUp.validate(async (valid) => {
        console.log(valid);
        if (valid) {
          let form = { ...this.formSignUp };
          delete form.passwordCheck;
          console.log("signup");
          try {
            console.log("works");
            let res = await this.$store.dispatch("apply/signUp", form);
          } catch (error) {
            console.log(error);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    openSignInPage() {
      this.title = "Sign In Account";
      this.question = "Don't have an account? <br><strong>SIGN UP</strong>";
      this.signIpPage = true;
    },
    signInWithAcc(form) {
      try {
        this.$store.dispatch("apply/signInWithAcc", form);
      } catch (error) {
        console.log(error);
      }
    },
    async signIn() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          try {
            let form = {
              userName: "",
              phoneNumber: null,
              password: "",
            };
            form.userName = this.form.userNameS;
            form.password = this.form.passwordS;
            let res = await this.$store.dispatch("apply/signIn", form);
            console.log("signin");
          } catch (error) {
            console.log(error);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    showLabel(element) {
      const x = element.target;
      x.classList.add("label_shown");
    },
    closelabel(element) {
      const x = element.target;
      x.classList.remove("label_shown");
    },
  },
};
</script>

<style></style>
