<template>
  <div
    class="svg"
    @click="$emit('click')"
    v-html="require(`@/assets/svg/${name}.svg?raw`)"
  ></div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default() {
        return "time";
      },
    },
  },
};
</script>

<style lang="scss">
.svg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
</style>
