<template>
  <div
    @click="putQuery"
    class="contact_block"
    :class="{
      contact_block_active: item.uniqueName === this.$route.query.user,
    }"
  >
    <div class="img">
      <img :src="item.avatarImg || defaultImage" alt="" />
    </div>
    <div class="info">
      <h3>{{ item.nickName || "default" }}</h3>
      <div>{{ item.lastSeen || "last seen recently" }}</div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      defaultImage: require("../../assets/media/image/user-default.png"),
      loading: false,
    };
  },
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    putQuery() {
      const id = this.item.uniqueName;
      this.$router.push({ query: { user: id } });

      this.$store.commit("changeContactsPopup", false);
    },
  },
};
</script>
