<template>
  <div>
    <section class="my-message" v-if="getToken == item.uniqueName">
      <div class="message-content">
        <div class="message">
          <p class="text">{{ item.text }}</p>
          <span class="time">{{ item.postDate }}</span>
        </div>
        <svgicon name="message-xvost"></svgicon>
      </div>
    </section>
    <section class="partner-message" v-else>
      <div class="message-content">
        <div class="message">
          <div class="text">{{ item.text }}</div>
          <span class="time">{{ item.postDate }}</span>
        </div>
        <svgicon name="message-xvost"></svgicon>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  computed: {
    ...mapGetters(["getToken"]),
  },
};
</script>

<style></style>
