<template>
  <section class="partner-message">
    <div class="message-content">
      <div class="message">Hello</div>
      <svgicon name="message-xvost"></svgicon>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
