<template>
  <div
    class="user_block"
    :class="{
      user_block_active: item.uniqueName === this.$route.query.user,
    }"
  >
    <div class="user_block_bounce_div" @click="putQuery"></div>
    <!-- :class="{ user_block_active: item.uniqueName === this.$route.query.user }" -->
    <div class="img">
      <img :src="(item && item.avatarImg) || defaultImg" alt="" />
    </div>
    <div class="info">
      <h3>{{ (item && item.nickName) || "Default" }}</h3>
      <div>{{ (item && item.lastMsg()?.text) || "Deafult" }}</div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      defaultImg: require("../../assets/media/image/user-default.png"),
      loading: false,
    };
  },
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    putQuery(element) {
      this.printMousePos(element);

      const id = this.item.uniqueName;
      this.$router.push({ query: { user: id } });
    },
    printMousePos(element) {
      console.log(element.target.getBoundingClientRect());
      const coordinate = element.target.getBoundingClientRect();

      const child = document.createElement("div");
      child.classList.add("animation_on_click");
      child.style.left = element.pageX - coordinate.left + "px";
      child.style.top = element.pageY - coordinate.top + "px";

      // const containersBefore = this.index;
      // const hOfDiv = 72;

      // const child = document.createElement("div");
      // child.classList.add("animation_on_click");
      // child.style.left = element.pageX - 8 + "px";
      // child.style.top = element.pageY - (56 + containersBefore * 72) + "px";

      element.target.appendChild(child);
    },
  },
};
</script>

<style></style>
