$myMesBg: #e9f5e9;
$parMesBg: #f8fbff;

$primary1: #3390ec;
$primary2: #2638bc;

$gray1: #dfe1e5;
$gray2: #f3f3f4;
$grayText: #707579;
$gray4: #F0F0F8;
$graySvg: #707991;
$grayAfter: #dfe1e5;

$darkGray1: #B4B9E2;

$darkBlue1: #565b7b;
$darkBlue2: #3f4468;

$white: #fff;

$black1: #011627;
$black2: #444650;

$red: #e50019;


$inputShadow: rgba(38, 55, 188, 0.2);
$primary2_01: rgba(38, 55, 188, 0.1);

// NO COLOR THEME
// #CACFF8