<template>
  <div>
    <nuxt />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      loading: true,
    };
  },
  async mounted() {
    const Arr = [1, 2, 3, 4];
    const result = {};
    const result2 = {};
    for (let i = 0; i < Arr.length; i++) {
      result[i] = Arr[i];
    }
    console.log(result);
    const i = "0";
    for (const key in result) {
      if (result[key] == "2") {
        result2["Sam"] = result[key];
      } else {
        console.log(result2, "procc");
        result2[key] = result[key];
      }
    }
    const newObj = {
      akhmad: "kkk",
      2: "lll",
      ru: "lll",
      a: "lll",
    };
    console.log(newObj);
    console.log(result2);

    // await this.fetchPages();

    if (
      this.$route.path == "/" ||
      this.$route.path == `/${this.$i18n.locale}` ||
      this.$route.path == `/${this.$i18n.locale}/`
    ) {
      await this.fetchHome();
      this.loading = false;
    }
  },
  computed: {
    ...mapGetters("apply", ["token"]),
  },
  methods: {
    ...mapActions(["fetchListDefault"]),

    async fetchHome() {
      try {
        let promiseHub = new Promise(async (resolve, reject) => {
          try {
            await this.fetchListDefault({
              api: "hub",
              key: "hubList",
              params: { token: this.token },
            });
            resolve({
              status: true,
            });
          } catch (e) {
            reject({
              status: false,
              error: e,
            });
          }
        });
        // let promiseNews = new Promise(async (resolve, reject) => {
        //   try {
        //     await this.fetchListDefault({
        //       api: "site/post/list",
        //       key: "newsList",
        //       params: { post_group: "news", limit: 3, offset: 0 },
        //     });
        //     resolve({
        //       status: true,
        //     });
        //   } catch (e) {
        //     reject({
        //       status: false,
        //       error: e,
        //     });
        //   }
        // });
        // let promiseProducts = new Promise(async (resolve, reject) => {
        //   try {
        //     await this.fetchListDefault({
        //       api: "site/post/list",
        //       key: "productsList",
        //       params: { post_group: "products", limit: 6, offset: 0 },
        //     });
        //     resolve({
        //       status: true,
        //     });
        //   } catch (e) {
        //     reject({
        //       status: false,
        //       error: e,
        //     });
        //   }
        // });
        // let promiseNumbers = new Promise(async (resolve, reject) => {
        //   try {
        //     await this.fetchListDefault({
        //       api: "site/post/list",
        //       key: "numbersList",
        //       params: {
        //         post_group: "numbers",
        //         has_content: false,
        //         order: "id asc",
        //         limit: 6,
        //         offset: 0,
        //       },
        //     });
        //     resolve({
        //       status: true,
        //     });
        //   } catch (e) {
        //     reject({
        //       status: false,
        //       error: e,
        //     });
        //   }
        // });
        // let promiseGalleryVideo = new Promise(async (resolve, reject) => {
        //   try {
        //     await this.fetchListDefault({
        //       api: "site/post/list",
        //       key: "galleryVideoList",
        //       params: {
        //         post_group: "video-gallery",
        //         has_content: false,
        //         limit: 1,
        //         offset: 0,
        //       },
        //     });
        //     resolve({
        //       status: true,
        //     });
        //   } catch (e) {
        //     reject({
        //       status: false,
        //       error: e,
        //     });
        //   }
        // });
        // let promiseGalleryPhoto = new Promise(async (resolve, reject) => {
        //   try {
        //     await this.fetchListDefault({
        //       api: "site/post/list",
        //       key: "galleryPhotoList",
        //       params: {
        //         post_group: "gallery",
        //         has_content: false,
        //         limit: 4,
        //         offset: 0,
        //       },
        //     });
        //     resolve({
        //       status: true,
        //     });
        //   } catch (e) {
        //     reject({
        //       status: false,
        //       error: e,
        //     });
        //   }
        // });
        // let promiseDepartment = new Promise(async (resolve, reject) => {
        //   try {
        //     await this.fetchListDefault({
        //       api: "site/catalog/list",
        //       key: "regionList",
        //       params: {
        //         post_group: "department",
        //         category: "region",
        //       },
        //     });
        //     resolve({
        //       status: true,
        //     });
        //   } catch (e) {
        //     reject({
        //       status: false,
        //       error: e,
        //     });
        //   }
        // });
        // let promisePartners = new Promise(async (resolve, reject) => {
        //   try {
        //     await this.fetchListDefault({
        //       api: "site/post/list",
        //       key: "partnerList",
        //       params: {
        //         post_group: "partners",
        //         has_content: false,
        //       },
        //     });
        //     resolve({
        //       status: true,
        //     });
        //   } catch (e) {
        //     reject({
        //       status: false,
        //       error: e,
        //     });
        //   }
        // });

        await Promise.all([
          promiseHub,
          // promiseNews,
          // promiseProducts,
          // promiseNumbers,
          // promiseGalleryVideo,
          // promiseGalleryPhoto,
          // promiseDepartment,
          // promisePartners,
        ]);
      } catch (error) {
        console.error(error);
      }
    },

    // async fetchPages() {
    //   let promiseMenu = new Promise(async (resolve, reject) => {
    //     try {
    //       await this.fetchListDefault({
    //         api: "site/menu/list",
    //         key: "menuList",
    //         params: { parent_id: 0 },
    //       });
    //       resolve({
    //         status: true,
    //       });
    //     } catch (e) {
    //       reject({
    //         status: false,
    //         error: e,
    //       });
    //     }
    //   });
    //   let promiseContacts = new Promise(async (resolve, reject) => {
    //     try {
    //       await this.fetchListDefault({
    //         api: "site/contacts/list",
    //         key: "contactsList",
    //       });
    //       resolve({
    //         status: true,
    //       });
    //     } catch (e) {
    //       reject({
    //         status: false,
    //         error: e,
    //       });
    //     }
    //   });
    //   await Promise.all([promiseMenu, promiseContacts]);
    // },
  },
  watch: {
    async "$route.path"(val) {
      if (
        val == "/" ||
        val == `/${this.$i18n.locale}` ||
        val == `/${this.$i18n.locale}/`
      ) {
        // await this.fetchHome();
        this.loading = false;
      } else {
        return;
      }
    },
    "$i18n.locale"() {
      this.fetchPages();
    },
  },
};
</script>
