<template>
  <div class="dropdown">
    <a-dropdown :trigger="['click']" placement="bottomRight">
      <a class="ant-dropdown-link" @click="(e) => e.preventDefault()">
        <div class="icon">
          <div class="svg">
            <svgicon name="3dots"></svgicon>
          </div>
        </div>
      </a>
      <a-menu slot="overlay" class="dropdown_menu">
        <a-menu-item key="1">
          <svgicon name="bell-slash"></svgicon>Mute
        </a-menu-item>
        <a-menu-item key="2">
          <svgicon name="phone"></svgicon>Call
        </a-menu-item>
        <a-menu-item key="3">
          <svgicon name="video-camera"></svgicon>Video Call
        </a-menu-item>
        <a-menu-item key="4">
          <svgicon name="check-circle"></svgicon>Select Messages
        </a-menu-item>
        <a-menu-item key="5">
          <svgicon name="user-add"></svgicon>Add to contacts
        </a-menu-item>
        <a-menu-item key="6">
          <svgicon name="lock"></svgicon>Block user
        </a-menu-item>
        <a-menu-item key="7" class="type_red" @click="removeChat">
          <svgicon name="trash"></svgicon>Delete Chat
        </a-menu-item>
      </a-menu>
    </a-dropdown>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions(["deleteChat"]),
    removeChat() {
      this.deleteChat(this.$route?.query?.user);
    },
  },
};
</script>

<style></style>
