<template>
  <div class="dropdown">
    <a-dropdown :trigger="['click']">
      <a class="ant-dropdown-link" @click="(e) => e.preventDefault()">
        <div class="burger icon">
          <div class="svg">
            <svgicon name="burger"></svgicon>
          </div>
        </div>
      </a>
      <a-menu slot="overlay" class="dropdown_menu">
        <!-- <a-menu-item key="1" @click="openSavedMsg">
          <svgicon name="bookmark"></svgicon>Saved Messages
        </a-menu-item> -->
        <a-menu-item key="2" @click="openArchive">
          <svgicon name="archive"></svgicon>Archived Chats
        </a-menu-item>
        <a-menu-item key="3" @click="openContacts">
          <svgicon name="users"></svgicon>Contacts
        </a-menu-item>
        <a-menu-item key="4" @click="openSettings">
          <svgicon name="settings"></svgicon>Settings
        </a-menu-item>
        <a-menu-item key="5">
          <svgicon name="moon-stars" id="rotate"></svgicon>Dark Mode
        </a-menu-item>
        <a-menu-item class="type_red" key="6" @click="exitFromAcc">
          <svgicon name="exit"></svgicon>Exit
        </a-menu-item>
      </a-menu>
    </a-dropdown>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  methods: {
    openSettings() {
      this.$store.commit("changePopUp", {
        key: "settingsPopUp",
        value: true,
      });
    },
    openContacts() {
      this.$store.commit("changePopUp", {
        key: "contactsPopUp",
        value: true,
      });
    },
    openArchive() {
      this.$store.commit("changePopUp", {
        key: "archivePopUp",
        value: true,
      });
    },
    openSavedMsg() {
      this.$router.push({ query: { user: "@akhmad" } });
    },
    exitFromAcc() {
      sessionStorage.removeItem("token");
      this.$router.push({ path: "/login" });
      this.$router.go();
    },
  },
};
</script>

<style></style>
