<template>
  <div class="home-page">
    <div class="login" v-if="false">
      <h1>loading</h1>
    </div>
    <template v-else>
      <div id="content-left">
        <HomeAside></HomeAside>
      </div>
      <template v-if="this.$route.query.user">
        <div id="content-center">
          <HomeChat :user="user"></HomeChat>
        </div>
        <div id="content-right" :class="{ visible: asideRight }">
          <HomeAsideRight :user="user"></HomeAsideRight>
        </div>
      </template>
      <div v-else class="no_room"></div>
    </template>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";
export default {
  // middleware: "auth",
  name: "MyChat",
  data() {
    return { login: false };
  },
  computed: {
    ...mapGetters("apply", ["auth"]),
    ...mapGetters(["userList", "asideRight"]),
    ...mapGetters("ws", ["ws"]),
    ...mapState({
      lChatList: (state) => state.chatList,
    }),
    user() {
      const query = this.$route.query.user;
      if (this.userList.length >= 1) {
        const user = this.userList.find((e) => e.uniqueName === query);
        return user;
      } else {
        return null;
      }
    },
  },
  watch: {
    lChatList: {
      handler(newValue) {
        localStorage.setItem("chatList", JSON.stringify(newValue));
      },
      deep: true,
    },
  },
  methods: {
    ...mapActions("ws", ["openServer"]),
    async connect() {
      try {
        let res = new Promise(async (resolve, reject) => {
          try {
            await this.openServer();
            resolve({
              status: true,
            });
          } catch (e) {
            reject({
              error: e,
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
  },
  async mounted() {
    // await this.connect();
  },
};
</script>
